<div class="container-fluid pl-5 pr-2">
  <div class="pagehead">
    <h1>
      <span translate>My Contracts</span>
    </h1>

    <div id="products" class="row view-group">
      <div class="item col-xs-4 col-lg-4 list-group-item">
        <div class="thumbnail card">
          <div class="img-event">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d829276.1550202352!2d31.118719800382028!3d-27.593468494534104!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1539259402060" width="380" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">
              Product title</h4>
            <p class="group inner list-group-item-text">
              Contract description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <p class="lead">
                  $21.000</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
