<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <!--<img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d829276.1550202352!2d31.118719800382028!3d-27.593468494534104!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1539259402060" width="1080" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>

    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
    <input name="aaa" id="aaa" type="text" [(ngModel)]="num" />
  </div>

</div>
